.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :irc_channel
  =f.error_message_on :irc_channel
  =f.text_field :irc_channel, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :enabled_bitly
  =f.error_message_on :enabled_bitly
  =f.check_box :enabled_bitly, :value => true, :class => :enabled_bitly
  %span.description Ex: a simple text

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:projects, :index)}';return false", :class => :button
